<html lang="en">
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet'  type='text/css'>
<head>
<style>

body {
	width:100%;
    margin: 0px;
    padding: 0px;
    height: 100%;
    background: #2F2A30;
}
#title{
	text-align:center;
	display: inline block;
	vertical-align:middle;
	opacity:1.0;
	font-size:500%;
}

#images{
	float: center;
	height: 25px;
	display:inline block
}
.textContainer{
	/*F2C3E8*/
	background-color:#FFB4A3;
	opacity:0.7;
	/*box-shadow: 0 0 5px 5px #FFB4A3;*/
}

ul{
	list-style-type:none;
	margin:0;
	padding:0;
}
li{
	float:left;
}
li a{
	display:block;
	color:white;
	text-align:center;
	padding: 14px 16px;
	text-decoration:none;
}

li a:hover{
	background-color:#111;
}

</style>


</head> 
<body>

<p></p>
<p></p>
<ul class='topBar'>
	<li><a href='/'> Home</a></li>
	<li><a href='/signup'>Sign up</a></li>
	<li><a href="/login"> Login </a></li>
</ul>


<div class = "images">
	<img src = "http://images.clipartpanda.com/food-clip-art-Burger1_Food_Clipart.png">
	<img src = "http://images.clipartpanda.com/food-clipart-junk-food-clipart-free-clipart-images.png">
	<img src  = "http://www.clipartkid.com/images/653/potato-salad-clip-art-WSYCfC-clipart.png">
</div>


</body>


</html>

