<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	</head>
	<body>
	    <h1>Settings</h1>
	    <label>Location <input id='location'></input</label>
	    <label>Age <input id='age'></input></label>
		<label>Gender<input id = 'gender' type = 'text'> </input></label>
		<label>Ethnicity<input id = 'ethnicity' type = 'text'> </input></label>
	    <h2>Dietary Restrictions</h2>
	    <label>Vegetarian <input type = 'checkbox' id = 'vegetarian' value = 'vegetarian'></input></label>
	    <label> Vegan <input type = 'checkbox' id = 'vegan' value = 'vegan'></input></label>
	    <label> Kosher<input type = 'checkbox' id = 'kosher' value = 'kosher'></input></label>
		<label> Halal<input type = 'checkbox' id = 'halal' value = 'halal'></input></label>
		<label> Nut Allergies<input type = 'checkbox' id = 'nutAllergies' value = 'nutAllergies'></input></label>
		<script type="text/javascript">
			
		</script>
	</body>

</html>