<html>
    
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>

<body>  
    <div id=inputs>
            <label name='name' >Name</label>
            <input id='name'></input>
        	<label name ='username'>Username</label>
        	<input id='username'></input>
        	<label name = 'password'>Password</label>
        	<input id = 'password' type= 'password'></input>        	
        	<button type='submit' id='submitSignup'> Sign Up </button>
    	<div id=messages>
    	</div>
    </div>
    	

    <script>
    	$(document).ready(function(){
    		$('#submitSignup').click(function(){
    			$('#messages').empty();
    			var username = $('#username').val();
    			var password = $('#password').val();
                var name = $('#name').val();


    			$.ajax({
    				type:'POST',
    				url:'/signup',
    				data: {username:username, 
    				       password:password,
                           name:name 
    		
    				       
    				},
    				dataType:'json',
    				success:function(res){
                        if(res.redirect){
                            window.location = res.redirect;
                        }
                        else{
        					var message = res.message;
        					console.log(message);
        					$('#messages').append('<p>' + message + '</p>');
                        }

    				}
    			});

    		});

    	});
    </script>
    </body>
</html>