      .modal-content{
        border-radius:0;
        border:3px solid #5cb85c;
      }

      .modal-header{
        border-bottom: 1px gray;
        padding-bottom: 0px;
      }
      .modal-body{
        padding-top: 0px;
      }
      hr{
        margin-top:10px;
        border-top: 3px solid #dff0d8;
      }

      #manageReivewsModalBody{
        padding-bottom:0px;
      }
      #settingsLine{
        margin-bottom: 5px;
      }