     ul {
        list-style-type: none; 
        margin: 0;
        padding: 0;
      }

      li {
        float: right;
        display: inline;
        margin-right:5px;
      }
      li a {
        display: block;
        color: white;
        text-align: center;
        text-decoration: none;
      }
     /* li a:hover {
        background-color: #111;
      }*/
      #search {
        float: left;
        height: 48px;
      }
      .navbar{
        background-color:green;
        padding:0;
        height: 48px;
        margin-bottom:0;
        position: absolute;
        z-index: 11;
        width:100%;
        border-radius: 0px;

   
      }
      .navbar-brand{
        font-size: 35px;
      }
      .navbar-brand:hover{
        color:white;

      }



/* ul {
        float: right;
        list-style-type: none; 
        margin: 0;
        padding: 0;
      }
      li {
        float: right;
        display: inline;
      }
      li a {
        display: block;
        color: white;
        text-align: center;
        text-decoration: none;
      }
      li a:hover {
        background-color: #111;
      }
      #search {
        text-align: center;
        height: 48px;
        display: inline-block; 
      }
      .navbar{
        background-color:green;
        padding:0;
        height: 48px;
        margin-bottom:0;
        position: absolute;
        display:inline;
        z-index: 11;
        width:100%;
      }

        #about {
          text-align: center; 
        }
        .clickButton {
          text-align: center;
        }
        #menu{
          background-color: green; 
          display: inline;
          float: right; 
          text-align: right; 
          position: absolute; 
        }
        #menu ul li {
          float: none; 
        }
        #menu ul {
          position: absolute; 
        }
        .dropdown-menu {
          min-width: 0px;
        }
        #welcometitle{
          float: left;          
          text-align: left;
          color: white;
        }*/