.panel{
        margin-bottom:0;
        padding:0;
        border-radius: 0;
        border-color: #5cb85c;
        border-left-width: 3px;
        border-right-width:3px;
        border-bottom-width: 3px;
        border-top-width: 0px;
      }

.panel-success>.panel-heading{
	background-color: white;
}

.myReview>.panel{
    border-left-width: 0px;
    border-right-width:0px;
    border-bottom-width: 1px;
    border-top-width: 0px;
    margin-left: 5px;
    margin-right: 5px;

}
.myReview>.panel>.panel-heading{
    padding-right: 0px;
    padding-left: 0px;
}
.myReview>.panel>.panel-body{
    padding-left: 0px;
    padding-right: 0px;
}

#manageReviewsLine{
    margin-bottom: 1px;
}